<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <link href="{% static 'css/layout.css' %}" media="screen" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" media="screen" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <div id="menu">
        {% block menu %}
        {% endblock %}
    </div>
    <div id="header">
        {% block header %}
        {% endblock %}
    </div>
    <div class="content">
        {% block site-wrapper %}
        {% endblock %}
    </div>
    <footer class="bs-docs-footer">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>